.navbarContainer {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0rem 2rem;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navLeft {
    display: flex;
    gap: 1rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: var(--font-eiko);
}

.navRight {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

.navList {
    display: flex;
    gap: 4rem;
    flex-direction: row;   
}

.navLink {
    color: var(--color-secondary);
    font-weight: 500;
    font-size: 1rem;
    font-family: var(--font-neue);
}