.page {
    width: 100%;
    min-height: 100%;
    padding: 2rem 2rem;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

.heroContainer {
    margin-top: 800px;
}